@import 'variables';

body{
    background-color: $fondocolor-pagina;
    font-family: $fuente-normal;
    margin-left: 0%;
    margin-right: 0%;
}

 h2 {
    font-family: $fuente-titulo;
}

#comercial {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $fondocolor-comercial;
}


.Propuesta {
    width: 100%;
    height: 60%;
    background-image:$image;
    image-resolution: 300dpi;
    color: $colorPR;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: antiquewhite;
    font-style: oblique;
    font-size: 150%;
    opacity: 0.5;
}

.Motivacion{
    font-size: 130%;
}

#PR{
    color: gray;
    margin-top: 3%;
    font-style: normal;
}
.col-md-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


h3{
    font-family: $fuente-normal;
   }

.galeria{
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.4em;
    margin-right: 5px;
    margin-top:1%;
    text-align: center;
    width: 1.4em; 
}