@import 'variables';

body{
    background-color: $fondocolor-pagina;
    font-family: $fuente-normal;
}

h1, h2 {
    font-family: $fuente-titulo;
}

#comercial {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: $fondocolor-comercial;
}