@import url('https://fonts.googleapis.com/css?family=Oxygen:700|Roboto+Slab:100');

$fuente-titulo: 'Oxygen', sans-serif;
$fuente-normal: 'Roboto Slab', serif;

$color-titulo: #000;
$color-normal: #000;

$fondocolor-pagina: #fff;
$fondocolor-encabezado: #fff;

$fondocolor-comercial: #000;
$fuente-titulo1: "Helvetica Neue","Open Sans",Arial,sans-serif;
$colorPR: rgb(126, 44, 44);
$image:url('../img/bg.png');